<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <%= image_tag attachments['plane.jpeg'].url %>
    </div>

    <h1>Your booking has been confirmed, <%= @passenger.name %>.</h1>
    <p>
      You have successfully booked a seat on flight <%= @flight.id %>,
      from <%= @flight.departure_airport.code%> to <%= @flight.arrival_airport.code%> on <%= @flight.flight_date %>.<br>
    </p>
    <p>
      To view your booking, just follow this link: <%= link_to 'Booking', @url %>
    </p>
    <p>Thank you for flying with Funky Airlines.</p>
  </body>
</html>