<h1>Flights</h1>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label :departure_airport_id, "Departure Airport" %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code %>
  <%= form.label :arrival_airport_id, "Arrival Airport" %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code %>
  <%= form.label :num_passengers, "Number of Passengers" %>
  <%= form.select :num_passengers, [1,2,3,4] %>
  <%= form.label :date, "Departure Date" %>
  <%= form.collection_select :date, Flight.order(:date), :date, :flight_date %>
  <%= form.submit "Search Flights" %>
<% end %>

<table>
  <tr>
    <th>Depature Airport</th>
    <th>Arrival Airport</th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration (Hours)</th>
  </tr>
  <% @flights.each do |f| %>
    <tr>
      <td><%= f.departure_airport.code %></td>
      <td><%= f.arrival_airport.code %></td>
      <td><%= f.flight_date %></td>
      <td><%= f.date.strftime("%H:%M %P") %></td> <%# Hour:Minute AM/PM %>
      <td><%= f.duration %></td>
    </tr>
  <% end %>
</table>