<h1>Flights</h1>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code, {:prompt => "Depart From"} %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code, {:prompt => "Destination"} %>
  <%= form.select :num_passengers, [1,2,3,4], {:prompt => "Number of Passengers"}, :required => true %>
  <%= form.collection_select :date, Flight.order(:date), :date, :flight_date, {:prompt => "Departure Date"} %>
  <%= form.submit "Search Flights" %>
<% end %>

<% if params[:commit] %>
  <%= "Showing Flights:"%>
  <br>
  <%= "Departing From: #{@departure_airport_code}"%>
  <br>
  <%= "Arriving At: #{@arrival_airport_code}"%>
  <br>
  <%= "On: #{@date}"%>
<% end %>

<%= render "flights_table", flights: @flights %>
