<h1>Flights</h1>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code, {:prompt => "Depart From"} %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code, {:prompt => "Destination"} %>
  <%= form.select :num_passengers, [1,2,3,4], {:prompt => "Number of Passengers"} %>
  <%= form.collection_select :date, Flight.order(:date), :date, :flight_date, {:prompt => "Departure Date"} %>
  <%= form.submit "Search Flights" %>
<% end %>

<% if params[:commit] %>
  <%= "Showing Flights:"%>
  <br>
  <%= "Departing From: #{@departure_airport_code}"%>
  <br>
  <%= "Arriving At: #{@arrival_airport_code}"%>
  <br>
  <%= "On: #{@date}"%>
<% end %>

<table>
  <tr>
    <th>Depature Airport</th>
    <th>Arrival Airport</th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration (Hours)</th>
  </tr>
  <% @flights.each do |f| %>
    <tr>
      <td><%= f.departure_airport.code %></td>
      <td><%= f.arrival_airport.code %></td>
      <td><%= f.flight_date %></td>
      <td><%= f.date.strftime("%H:%M %P") %></td> <%# Hour:Minute AM/PM %>
      <td><%= f.duration %></td>
    </tr>
  <% end %>
</table>